@import "tailwindcss";

@theme {
  --color-submit: #152fd4;
  --color-dark: #1e1e1f;
  --color-grayed: #323233;
}

html,
body {
  background-color: white;
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
